<div class="flex-shrink-0 p-3 bg-white">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">Módulos</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li *ngFor=" let modulo of this.userService.modulos; let index as i" class="mb-1">
        <button class="btn dropdown-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#menu1-collapse" aria-expanded="false">
          {{modulo.menuName}}
        </button>
        <div class="collapse" id="menu1-collapse">
          <ul *ngFor="let menu of this.userService.menus" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngIf="menu.id_Modulo == modulo.id_Modulo"><a routerLink="/{{menu.url_OpMenu}}" class="link-dark d-inline-flex text-decoration-none">{{menu.nombre_OpMenu}}</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
    </ul>
  </div>